/bower_components
/node_modules
/dist
/dist2
/factory_guy_presents
/factory_guy_presentation
/stats
/tmp
/tests
/vendor
.bowerrc
.editorconfig
.watchmanconfig
.ember-cli
.idea/*
.travis.yml
ember-cli-build.js
testem.js
bower.json


