/bower_components
/node_modules
/dist
/dist2
/factory_guy_presents
/factory_guy_presentation
/stats
/tmp
/tests
/vendor
.bowerrc
.editorconfig
.ember-cli
.idea/*
.travis.yml
testem.json
Brocfile.js
bower.json


