/bower_components
/dist2
/factory_guy_presents
/factory_guy_presentation
/stats
/tmp
/tests
/vendor
/dist
.idea/*
/node_modules
.editorconfig
.ember-cli
.ruby-gemset
.ruby-version
.travis.yml
testem.json
Brocfile.js
bower.json
.bowerrc


