{{#each profiles as |profile|}}
  <div class="profile">
    <span class="description">{{profile.description}}</span>
    <span class="camelcase-description">{{profile.camelCaseDescription}}</span>
    <span class="snake-case-description">{{profile.snake_case_description}}</span>
  </div>
{{/each}}