<div class="name">User {{user.name}}</div>

Projects:
<ul>
 {{#each user.projects as |project|}}
   <li class="project">{{project.title}}</li>
 {{/each}}
</ul>

<input class="project-title" type="textbox">
<button {{action 'addProject' user}}>Add New User</button>
