Users:
<ul>
 {{#each users as |user|}}
 <li class="user">
   <label>Name:</label>
   <span class="name">{{user.name}}</span>
   <label>Style:</label>
   <span class="style">{{user.style}}</span>
   <span><button {{action deleteUser user}}>X</button></span>
 </li>
 {{/each}}
</ul>
