{{#each this.model as |user|}}
  <SingleUser @user={{user}} />
{{/each}}
{{#if this.model.errors}}
  <div>Errors {{this.model.message}}</div>
{{/if}}
{{#if this.nextPage}}
  <span class='meta'>Next Page</span>
{{/if}}
{{#if this.previousPage}}
  <span class='meta'>Previous Page</span>
{{/if}}