<div>User {{model.name}}</div>

Projects:
<ul>
 {{#each model.projects as |project|}}
   <li class="project">{{project.title}}</li>
 {{/each}}
</ul>

<input class="project-title" type="textbox">
<button {{action 'addProject' model target=view}}>Add New User</button>
