<div>Search For User:</div>
<label>Username: <input class="user-name" type="text" value={{@userName}} {{on 'input' @onSetUserName}}/></label>
<button class="find-user" type="button" {{on "click" (fn @onUserSearch @userName)}}>Go</button>